body{
    background-color:rgb(48, 42, 42); 
}
h2{
    text-align: center;
    background-color: wheat;
    color: black;
    /* display: block; */

    width: 50%;
    margin: 5px auto;

}
.form {
background-color: wheat ;
color: black;
/* text-align: center; */
/* display: flex;
justify-content: center; */

width: 1000px;
margin: 0 auto;
border: 2px;
border-radius: 10px;
padding: 50px 75px;

}
.legend {
    border-radius: 10px;
}
.pform, .bform {
    width: 500px;
    margin: 0 auto;
}
.pform input, textarea, .bform input, textarea {
    width: 500px;
}
.gender label{
    padding-left: 70px;
}
.btype label {
    padding-left: 35px;
}
#male, #female {
    width: 50px;
}
#Btype1, #Btype2, #Btype3, #bcategory1, #bcategory2, #bcategory3 {
    width: 20px;
}

.gender, .btype, .bcategory {
    width: 470px;
}
.radio:hover{
    cursor: pointer;
    
}
.fbtn {
    display: flex;
    justify-content: center;
}