h1 {
  background-color: rgb(72, 72, 96);
  text-align: center;
  color: white;
  margin: auto;
  padding: 20px;
}

.navbar {
    background-color: rgb(48, 48, 48);
    border-radius: 30px;
  
  }
  .navbar li {
    float: left;
    list-style: none;
    margin: 15px 16px;
    font-size: 20px;
    
  }
  .navbar ul {
    overflow: auto;
  }
  .navbar li a{
    padding: 12px 16px;
    text-decoration: none;
    color: white;
  }
  .navbar li a:hover{
    background-color: rgb(168, 202, 116);
    border-radius: 30px;
  }
  .navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    background-color: rgb(148, 199, 71);
    border-radius: 30px;
  }

  .left{
    display: inline-block;
    position: absolute;
    left: 34px;
    top: 2px;
    /* border: 2px solid red; */
  }
  
  .mid{
    display: block;
    width: 40%;
    margin: 12px auto;
    /* border: 2px solid rgb(55, 255, 0); */
    border-top: 0px;
    
  }
  
  .right{
    display: inline-block;
    position: absolute;
    right: 34px;
    top: 22px;
    background-color: rgb(48, 48, 48);
    border-radius: 30px;
    margin: auto;
  
    /* border: 2px solid rgb(27, 12, 202); */
    
  }
  
  .right li a{
    padding: 12px 16px;
    text-decoration: none;
    color: white;
  }
.right li{
  list-style: none;
}
.left img{
  width: 50px;
  padding-left: 20px;
  padding-top: 4px;
}
.left div {
text-align: center;
font-size: 12px;
}
.btn{
padding: 8px;
  background-color: black;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  
}
.btn:hover {
  background-color: rgb(168, 202, 116) ;
}

.contact iframe{
  display: block;
  margin: 20px auto;
}
.contact div p{
  text-align: center; 
  font-size: 25px;
}
